<template>
  <div class="authentication">
    <div class="flex-content">
      <div class="ui big success icon message" v-if="success">
        <i class="thumbs outline up icon"></i>
        <div class="content">
          <div class="header">
            Your password has been set!
          </div>
          <p>Awwww yeah! Login to start shipping!</p>
        </div>
      </div>
      <form class="ui segment form fluid flex-content airmail" v-on:submit.prevent="submit" :class="{ error: error, loading: loading }">
        <img class="logo" src="./images/logo/smp-dark-grey.png" />
        <div class="field">
          <div class="ui left icon input field">
            <i class="mail icon"></i>
            <input type="email" placeholder="Email Address" v-model.trim="credentials.username" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input field">
            <i class="asterisk icon"></i>
            <input type="password" placeholder="Password" v-model="credentials.password" />
          </div>
        </div>
        <button type="submit" class="ui blue fluid button">Login</button>
        <div class="ui error message" v-if="error">
          <p>
            <i class="ban icon"></i> {{error.message}}
          </p>
        </div>
        <div class="ui tiny horizontal divided list">
          <router-link class="item" :to="{path: '/reset'}">
            <a>Reset Password</a>
          </router-link>
          <router-link class="item" :to="{path: '/signup'}">
            <a>Sign Up</a>
          </router-link>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Login',
    data () {
      return {
        loading: false,
        credentials: {
          username: '',
          password: ''
        },
        error: ''
      }
    },
    computed: {
      success () {
        return this.$route.query && this.$route.query.success === 'true'
      }
    },
    methods: {
      submit () {
        this.loading = true
        this.error = ''
        return this.$store.dispatch('LOGIN', this.credentials).then(() => {
          return this.$router.push(this.$route.query.redirect || '/shipments')
        }, err => {
          return (this.error = err.response.data)
        }).then(() => {
          return (this.loading = false)
        })
      }
    }
  }
</script>
