<template>
  <div class="authentication">
    <form class="ui segment form fluid flex-content airmail" v-on:submit.prevent="submit" :class="{ error: error, loading: loading }">
      <img class="logo" src="./images/logo/smp-dark-grey.png" />
      <div class="field">
        <div class="ui left icon input field">
          <i class="mail icon"></i>
          <input type="email" placeholder="Email Address" v-model.trim="credentials.username" />
        </div>
      </div>
      <button type="submit" class="ui blue fluid button">Reset Password</button>
      <div class="ui error message" v-if="error">
        <p>
          <i class="ban icon"></i> {{error.message}}
        </p>
      </div>
      <div class="ui tiny horizontal divided list">
        <router-link class="item" :to="{path: '/login'}">
          <a>Login</a>
        </router-link>
        <router-link class="item" :to="{path: '/signup'}">
          <a>Sign Up</a>
        </router-link>
      </div>
    </form>
  </div>
</template>
<script>
  // import auth from '../../api/auth'
  // import router from '../../router'

  export default {
    name: 'Reset',
    data () {
      return {
        loading: false,
        credentials: {
          username: '',
          password: ''
        },
        error: ''
      }
    },
    methods: {
      submit () {
        this.loading = true
        this.error = ''
        setTimeout(() => {
          this.loading = false
        }, 1000)
        // return auth.login(this.credentials).then(() => {
        //     return router.push(this.$route.query.redirect || '/shipments');
        // }, (err) => {
        //     return this.error = err;
        // }).then(() => {
        //     return this.loading = false;
        // });
      }
    }
  }
</script>
