<template>
  <div id="signup" class="authentication">
    <div class="flex-content">
      <!-- success -->
      <div class="ui big success icon message" v-if="success">
          <i class="thumbs outline up icon"></i>
          <div class="content">
              <div class="header">
                  Your account has been created!
              </div>
              <p>Now, check your email to continue signing up.</br>
              Check your spam folder, and you can always <strong><a>send another confirmation</a></strong>.</p>
          </div>
      </div>
      <!-- end success -->
      <div class="ui grid segment" :class="{ loading: loading }" v-if="!success">
        <div class="eight wide column splash">
          <img class="logo" src="./images/logo/smp-white.png" />
          <h2 class="ui header">
            Sign up now and join the network.
          </h2>
          <div class="details">
            <span>Just a few things...</span>
            <ul>
              <li>We'll ask for a password once we verify your email.</li>
              <li>Every field here is required.</li>
            </ul>
          </div>
          <div class="icon-wrap">
            <i class="chevron right icon"></i>
          </div>
        </div>
        <div class="eight wide column airmail">
          <form class="ui form" :class="{ error: errors }" @submit.prevent="submit">
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="First Name" v-model="firstName" maxlength="40" autocomplete="given-name" />
              </div>
              <div class="field">
                <input type="text" placeholder="Last Name" v-model="lastName" maxlength="40" autocomplete="family-name" />
              </div>
            </div>
            <div class="ui right icon input field">
              <i class="mail outline icon"></i>
              <input type="email" placeholder="Email Address" v-model="email" maxlength="40" autocomplete="email" />
            </div>
            <div class="ui right icon input field">
              <i class="building outline icon icon"></i>
              <input type="text" placeholder="Company Name" v-model="company" maxlength="40" autocomplete="off" />
            </div>
            <div class="ui checkbox field">
              <input type="checkbox" v-model="accepted">
              <label>I agree to the <a href="#">terms and conditions<i class="external square icon"></i></a></label>
            </div>
            <div class="ui icon error message">
              <i class="ban icon"></i>
              <div class="content">
                <div class="header">
                  Uh oh... Something went wrong.
                </div>
                <p>Here's what we know:</p>
                <ul>
                  <li v-for="(value, key) in errors">{{key}} {{value[0] || value.name[0]}}</li>
                </ul>
              </div>
            </div>
            <button type="submit" class="ui blue fluid right labeled icon button" :class="{ disabled: hasError }">
                Create Account
                <i class="right arrow icon"></i>
            </button>
            <div class="ui tiny horizontal divided list">
              <router-link class="item" :to="{path: '/login'}">
                <a>Login</a>
              </router-link>
              <router-link class="item" :to="{path: '/reset'}">
                <a>Reset Password</a>
              </router-link>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import _ from 'lodash'

  export default {
    name: 'Signup',
    data () {
      return {
        firstName: '',
        lastName: '',
        company: '',
        email: '',
        accepted: false,
        loading: false,
        errors: null
      }
    },
    watch: {
      password: function (val) {
        const evaluation = this.evaluate(val)
        this.score = evaluation.score
        this.warning = evaluation.feedback.warning || ''
      }
    },
    computed: {
      success () {
        return this.$route.query && this.$route.query.success === 'true'
      },
      hasError () {
        return _.isEmpty(this.firstName) ||
          _.isEmpty(this.lastName) ||
          _.isEmpty(this.email) ||
          _.isEmpty(this.company) ||
          this.accepted === false
      }
    },
    methods: {
      evaluate (password) {
        if (window.zxcvbn) {
          return window.zxcvbn(password || '')
        }
        return { score: 0 }
      },
      submit () {
        this.error = this.hasError
        if (!this.error) {
          this.loading = true
          this.$http.post('/api/v1/auth/registrations', {
            user: {
              first_name: this.firstName, // eslint-disable-line camelcase
              last_name: this.lastName,   // eslint-disable-line camelcase
              email: this.email,
              password: this.password,
              company: {
                name: this.company
              }
            }
          }).then((response) => {
            this.$router.push({ name: 'signup', query: { success: 'true' }})
          }).catch((err) => {
            this.errors = err.response.data.errors
          }).then(() => {
            this.loading = false
          })
        }
      }
    },
    beforeCreate () {
      // zxcvbn is quite large, so this is an old hack to get it to load async
      const script = document.createElement('script')
      script.type = 'text/javascript'
      script.async = true
      script.src = '/src/vendor/zxcvbn.js'
      const init = document.getElementsByTagName('script')[0]
      init.parentNode.insertBefore(script, init)
    }
  }

</script>
