<template>
    <div id="verify" class="authentication">
        <div class="flex-content">
            <!-- Success -->
            <div class="ui big success icon message" v-if="!loading && valid">
                <i class="thumbs outline up icon"></i>
                <div class="content">
                    <div class="header">
                        You're email {{ email }} is valid!
                    </div>
                    <p>Now create a password for your account.</p>
                </div>
            </div>
            <!-- Error -->
            <div class="ui big error icon message" v-if="!loading && !valid">
                <i class="frown icon"></i>
                <div class="content">
                    <div class="header">
                        Well, this is embarressing...
                    </div>
                    <p>We couldn't find your account.</p>
                    <p>If you believe you reached this page by mistake,</br>please <a rel="noopener noreferrer" target="_blank" href="mailto:support@shipmypart.com?subject=Verification%20Error">contact our support team</a>!</p>
                </div>
            </div>
            <!-- Input -->
            <form class="ui fluid segment airmail" :class="{ 'loading': loading }" v-if="loading || valid" @submit.prevent="submit">
                <img class="logo" src="./images/logo/smp-dark-grey.png" />
                <h3 class="ui header">
                    <div class="content">
                        Create a new password
                        <div class="sub header">
                            The only requirement is that it must have 8 characters
                        </div>
                    </div>
                </h3>
                <div class="ui fluid input" :class="{error: error}">
                    <div class="strength-meter" :data-tooltip="'Your password is: ' + rating + '. ' + warning" data-position="left center">
                        <div class="dot" :class="{ active: score > 3 }"></div>
                        <div class="dot" :class="{ active: score > 2 }"></div>
                        <div class="dot" :class="{ active: score > 1 }"></div>
                        <div class="dot" :class="{ active: score > 0 }"></div>
                        <div class="dot" :class="{ active: password.length > 0 }"></div>
                    </div>
                    <input type="password" class="password" v-model="password" placeholder="Password">
                </div>
                <button type="submit" class="ui blue fluid right labeled icon button" :class="{ disabled: password.length < 7 }">
                    Next
                    <i class="right arrow icon"></i>
                </button>
            </form>
        </div>
    </div>
</template>
<script>
  import verification from '../../api/verification'

  export default {
    name: 'Verify',
    props: ['id'],
    data () {
      return {
        valid: false,
        loading: false,
        password: '',
        score: 0,
        warning: '',
        email: '',
        error: false
      }
    },
    computed: {
      rating () {
        switch (this.score) {
          case 1:
            return 'WEAK'
          case 2:
            return 'ADQUATE'
          case 3:
            return 'GOOD'
          case 4:
            return 'STRONG'
          default:
            return 'VERY WEAK'
        }
      }
    },
    methods: {
      evaluate (password) {
        if (window.zxcvbn) {
          return window.zxcvbn(password || '')
        }
        return { score: 0 }
      },
      submit () {
        this.loading = true
        verification.verify(this.id, {
          activation: {
            password: this.password
          }
        }).then((result) => {
          this.$router.push({ name: 'login', query: { success: 'true' }})
        }, (err) => {
          console.error(err)
          this.error = true
        }).then(() => {
          this.loading = false
        })
      }
    },
    watch: {
      password: function (val) {
        const evaluation = this.evaluate(val)
        this.score = evaluation.score
        this.warning = evaluation.feedback.warning || ''
      }
    },
    beforeCreate () {
      // zxcvbn is quite large, so this is an old hack to get it to load async
      const script = document.createElement('script')
      script.type = 'text/javascript'
      script.async = true
      script.src = '/src/vendor/zxcvbn.js'
      const init = document.getElementsByTagName('script')[0]
      init.parentNode.insertBefore(script, init)
    },
    mounted () {
      this.loading = true
      verification.retrieve(this.id).then((response) => {
        this.valid = true
        this.email = response.data.email
      }, (err) => {
        console.error(err)
        this.valid = false
      }).then(() => {
        this.loading = false
      })
    }
  }
</script>
