<template>
  <div class="batch">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Batch #{{ batch.name }}
          <div class="ui top right attached label" :class="state.color">
            <i class="icon" :class="state.icon"></i> {{ state.text }}
          </div>
        </div>
        <div class="meta">{{ created }}</div>
        <div class="description">
          <table v-if="batch.shipments.length > 0" class="ui basic attached table">
            <thead>
              <tr>
                <th class="small">
                  <div class="ui fitted checkbox">
                    <input type="checkbox"><label></label>
                  </div>
                </th>
                <th>Name</th>
                <th>Status</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="ui fitted checkbox">
                    <input type="checkbox"><label></label>
                  </div>
                </td>
                <td>John</td>
                <td>Approved</td>
                <td>None</td>
              </tr>
              <tr>
                <td>
                  <div class="ui fitted checkbox">
                    <input type="checkbox"><label></label>
                  </div>
                </td>
                <td>Jamie</td>
                <td>Approved</td>
                <td>Requires call</td>
              </tr>
              <tr>
                <td>
                  <div class="ui fitted checkbox">
                    <input type="checkbox"><label></label>
                  </div>
                </td>
                <td>Jill</td>
                <td>Denied</td>
                <td>None</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="extra content">
        <button class="ui labeled icon red button right floated" v-on:click="voidBatch">
                    <i class="ban icon"></i> Void Batch
                </button>
        <button class="ui labeled icon blue button right floated" v-if="batch.shipments.length > 1">
                    <i class="dollar icon"></i> Purchase Batch
                </button>
        <router-link :to="{ name: 'newShipment', params: { batchId: encoded }}">
          <a class="ui labeled icon green button right floated">
            <i class="plus icon"></i> Add Shipment
          </a>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment-timezone'

  export default {
    name: 'Batch',
    props: {
      batch: Object
    },
    methods: {
      voidBatch () {
        return this.$store.dispatch('VOID_BATCH', this.batch)
      }
    },
    computed: {
      encoded () {
        return window.btoa(this.batch.id)
      },
      created () {
        return moment.unix(this.batch.created).tz(moment.tz.guess()).format('MMM Do YYYY @ h:mm a')
      },
      state () {
        switch (this.batch.state) {
          case 'creation_failed':
          case 'purchase_failed':
            return {
              color: 'red',
              text: 'Error',
              icon: 'ban'
            }
          case 'purchasing':
          case 'purchased':
            return {
              color: 'green',
              text: 'Purchased',
              icon: 'dollar'
            }
          case 'label_generating':
          case 'label_generated':
            return {
              color: 'green',
              text: 'Shipped',
              icon: 'check'
            }
          case 'creating':
          case 'created':
          default:
            return {
              color: 'blue',
              text: 'Created',
              icon: 'certificate'
            }
        }
      }
    }
  }

</script>
