<template>
    <div id="shipment" class="ui grid">
        <div class="three wide column sidebar">
            <div class="ui secondary pointing vertical fluid menu">
                <div class="item">
                    <button class="ui labeled icon fluid blue button" :class="{ loading: isLoading }" v-on:click="create">
                        <i class="plus icon"></i>
                        Create Batch
                    </button>
                </div>
                <a class="blue item">
                    All
                    <div class="ui blue label">12,615</div>
                </a>
                <a class="yellow item">
                    Pending
                    <div class="ui yellow label">14</div>
                </a>
                <a class="green item">
                    Ready
                    <div class="ui green label">51</div>
                </a>
                <a class="green item">
                    In Transit
                    <div class="ui green label">125</div>
                </a>
                <a class="olive item">
                    Archived
                    <div class="ui label">12,425</div>
                </a>
            </div>
        </div>
        <div class="nine wide column batches">
            <batch v-bind:batch="batch" v-for="batch in batches"></batch>
        </div>
    </div>
</template>
<script>
  import Batch from './Batch.vue'
  export default {
    name: 'Shipment',
    components: {
      'batch': Batch
    },
    data () {
      return {
        isLoading: false
      }
    },
    methods: {
      create () {
        this.isLoading = true
        return this.$store.dispatch('NEW_BATCH').then(result => {
          this.isLoading = false
        })
      }
    },
    computed: {
      batches () {
        return this.$store.getters.getBatches
      }
    },
    mounted () {
      return this.$store.dispatch('LOAD_BATCHES')
    }
  }
</script>
