// Primary
$alt-blue: rgb(56, 177, 235);
$blue: rgb(21, 148, 209);
$light-blue: rgb(220, 238, 255);

$alt-green: #8AC926;
$green: rgb(103, 186, 47);

$yellow: rgb(255,202,58);
$orange: rgb(227, 111, 12);

$alt-red: rgb(239, 29, 35);
$red: rgb(255, 89, 94);
$light-red: rgb(251, 250, 247);

$black: rgb(50, 58, 81);

$hover: #5aadbb;

// Greys
$grey-0: rgb(242, 246, 250);
$grey-1: rgb(184, 198, 214); // use for inactive
$grey-2: rgb(153, 163, 172);
$grey-3: rgb(92, 114, 137);
$grey-4: rgb(77, 99, 123);
$grey-5: rgb(99, 100, 102);
