<tr>
    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
    <h2>Welcome to ShipMyPart!</h2>
    <p>You're on your way to joining the premier shipping network for parts!<br/><br/> Once we validate your email address we can continue setting up your account.<br/>
    <em>Let's get started:</em></p>

    <%= link "Validate your email address", to: RegistrationView.auth_url(@conn, @user), class: "btn-primary", itemprop: "url", rel: "noopener noreferrer", target: "_blank" %>

    <p><em>This link will expire in 7 days.</em><p>
    <!--<p>Already expired? <em> -->
        <!-- link "Request a new link.", to: sign_in_url(Endpoint, :new) -->
        <!-- </em></p> -->
    </td>
</tr>
