Welcome to ShipMyPart!

You're on your way to joining the premier shipping network for parts!
Once we validate your email address we can continue setting up your account.

Let's get started:

<%= RegistrationView.auth_url(@conn, @user) %>


This link will expire in 7 days.
