<template>
    <div class="ui grid overview">
        <div class="centered row">
            <div class="ui top attached mini steps">
                <a class="step">
                    <i class="wait icon"></i>
                    <div class="content">
                        <div class="description">
                            <div class="ui mini statistic">
                                <div class="value">
                                    15
                                </div>
                                <div class="label">
                                    Pending
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="active step">
                    <i class="dollar icon"></i>
                    <div class="content">
                        <div class="description">
                            <div class="ui  mini statistic">
                                <div class="value">
                                    26
                                </div>
                                <div class="label">
                                    Purchased
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="description">
                            <div class="ui  mini statistic">
                                <div class="value">
                                    112
                                </div>
                                <div class="label">
                                    In Transit
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="step">
                    <i class="checkmark icon"></i>
                    <div class="content">
                        <div class="description">
                            <div class="ui  mini statistic">
                                <div class="value">
                                    2,204
                                </div>
                                <div class="label">
                                    Delievered
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <table class="ui basic bottom attached table">
                <thead>
                    <tr>
                        <th class="small">
                            <div class="ui fitted checkbox">
                                <input type="checkbox"><label></label>
                            </div>
                        </th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="ui fitted checkbox">
                                <input type="checkbox"><label></label>
                            </div>
                        </td>
                        <td>John</td>
                        <td>Approved</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui fitted checkbox">
                                <input type="checkbox"><label></label>
                            </div>
                        </td>
                        <td>Jamie</td>
                        <td>Approved</td>
                        <td>Requires call</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui fitted checkbox">
                                <input type="checkbox"><label></label>
                            </div>
                        </td>
                        <td>Jill</td>
                        <td>Denied</td>
                        <td>None</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
  export default {
    name: 'Overview'
  }
</script>
