<!doctype html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <title>ShipMyPart</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '<%= analytics_token() %>', 'auto');
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'maxScrollTracker');
    ga('require', 'outboundFormTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'pageVisibilityTracker');
    ga('require', 'urlChangeTracker');
    ga('send', 'pageview');
  </script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <script async src="<%= static_path(@conn, "/src/analytics/autotrack.js") %>"></script>
  <!-- End Google Analytics -->

  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.8/semantic.min.css">
  <link rel="stylesheet" href="<%= static_path(@conn, "/src/index.css") %>">
  <link rel="preload" href="<%= static_path(@conn, "/src/index.js") %>" as="script">
</head>

<body>
  <%= render @view_module, @view_template, assigns %>
  <script src="<%= static_path(@conn, "/src/index.js") %>"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.8/semantic.min.js"></script>
</body>

</html>
