#shipment {
    height: 95vh;
    .sidebar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .menu {
        height: 100%;
        border-radius: 0;
    }
    .batches {
        overflow-y: auto;
        &:empty {
            background-color: $grey-0;
            border-radius: 0.28571429rem;
            text-align: center;
            padding: 5em;
            height: 12em;
            width: 100%;
            margin: 1em;
            &:before {
                content: "Create a new Batch to get started";
                font-size: 2em;
                color: $grey-1;
            }
        }
        .description {
            &:empty {
                background-color: $grey-0;
                border-radius: 0.28571429rem;
                text-align: center;
                padding: 2.1em;
                height: 6em;
                margin: 1em;
                &:before {
                    content: "Add a new Shipment to this Batch";
                    font-size: 2em;
                    color: $grey-1;
                }
            }
        }
    }
}
