<template>
  <header class="header">
    <div class="ui three column stackable grid">
      <div class="four wide left aligned column">
        <div class="ui secondary menu">
          <div class="item">
            <img class="logo" src="./images/logo/smp-white.png" />
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui center secondary five item menu">
          <router-link class="item" :to="{path: '/shipments'}">
            <a>Shipments</a>
          </router-link>
          <router-link class="item" :to="{path: '/accounts'}">
            <a>Accounts</a>
          </router-link>
          <router-link class="item" :to="{path: '/support'}">
            <a>Support</a>
          </router-link>
        </div>
      </div>
      <div class="four wide right aligned column">
        <div class="user">
          <span class="name">{{ [user.first_name, user.last_name].join(' ') }}</span>
          <i class="dropdown icon"></i>
        </div>
        <div class="ui fluid popup hidden">
          <div class="ui grid">
            <div class="column">
              <h3 class="ui header">{{ user.email }}</h3>
              <div class="ui link list">
                <a v-on:click="logout" class="item">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
  import $ from 'jquery'
  import auth from '../api/auth'

  export default {
    name: 'Header',
    data () {
      return {
        user: {}
      }
    },
    methods: {
      logout () {
        return auth.logout().then(() => {
          window.location.hash = '#/login'
        })
      }
    },
    mounted () {
      $('.user').popup({
        on: 'click',
        inline: true,
        position: 'top right',
        transition: 'vertical flip'
      })
      this.user = this.$store.state.auth.user
    }
  }
</script>
