<template>
    <div>
        <h1>Not Found!</h1>
        <router-link :to="{path: '/'}">
            <a>Login</a>
        </router-link>
    </div>
</template>
<script>
    export default {
      name: 'NotFound'
    }
</script>
