<template>
  <div>
    <header-component></header-component>
    <main>
      <router-view name="content"></router-view>
    </main>
    <footer-component></footer-component>
  </div>
</template>

<script>
  import Header from './components/Header.vue'
  import Footer from './components/Footer.vue'

  export default {
    name: 'Main',
    components: {
      'header-component': Header,
      'footer-component': Footer
    }
  }
</script>
