<template>
    <div id="support">
        <overview-component></overview-component>
    </div>
</template>
<script>
import Overview from '../dashboard/Index.vue'
export default {
  name: 'Support',
  components: {
    'overview-component': Overview
  }
}
</script>
