header {
    margin-bottom: 1em;
    z-index: 4;
    font-size: 1.2em;
    background-color: $grey-4;
    width: 100%;
    max-height: 4.47em;
    color: $grey-1;
    @media (max-width: 767px) {
        min-height: 0;
        max-height: 100vh;
    }
    .column {
        padding: 0.5em!important;
    }
    .center.menu {
        margin-top: -0.1rem;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0;
        a {
            color: $grey-2;
        }
        .router-link-active.item {
            a {
                color: white;
            }
            background: none!important;
            border-bottom: 0.1em solid white;
            border-radius: 0!important;
        }
    }
    .user {
        color: $grey-0;
        font-size: 1.2em;
        margin: 0.2em;
        padding: .71428571em .92857143em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        i {
            position: relative;
            top: 0.1em;
            right: 0;
            margin-left: 0.1em;
            margin-right: 0.5em;
        }
    }
    .user-menu {
        margin: 0.6em!important;
    }
    .ui.bottom.right.popup {
        margin-right: 1em;
    }
}
