@import 'styles/variables';
@import 'styles/mixins';

/* Components */

@import 'styles/components/header';
@import 'styles/components/footer';
@import 'styles/components/batch';

/* Pages */

@import 'styles/pages/account';
@import 'styles/pages/support';
@import 'styles/pages/pending';
@import 'styles/pages/shipment';

@import 'styles/pages/auth/login';
@import 'styles/pages/auth/verify';
@import 'styles/pages/auth/signup';

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

html, body, #root {
  font-size: 0.85em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 100px!important;
}

.airmail::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0px;
  border-radius: .1rem;
  opacity: 0.789;
  transform: scale(.99999);
  background: repeating-linear-gradient(-45deg, $blue, $blue 1em, $light-red 1em, $light-red 2em, $red 2em, $red 3em, $light-red 3em, $light-red 4em);
}

.airmail-top::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0px;
  left: 0px;
  border-radius: .1rem;
  opacity: 0.789;
  transform: scale(.99999);
  background: repeating-linear-gradient(-45deg, $blue, $blue 1em, $light-red 1em, $light-red 2em, $red 2em, $red 3em, $light-red 3em, $light-red 4em);
}
