.authentication {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
        margin-bottom: 0.6em;
    }
    .header {
        margin-top: 0;
    }
    .flex-content {
        min-width: 30vw;
        .input {
            width: 100%;
            margin-bottom: 1em;
        }
        .list {
            width: 100%;
            text-align: right;
        }
        @media screen and (min-width: 1127px) {
            min-width: 25vw;
        }
    }
    .message {
        margin-top: 0;
    }
    .strength-meter {
        position: absolute;
        bottom: 1px;
        left: 1px;
        padding: 0.3em 0.5em;
        height: auto;
        background-color: transparent;
        border-radius: .28571429rem;
        .dot {
            height: 4px;
            width: 4px;
            margin: 1px;
            border-radius: 50%;
            background-color: #2185d0;
            opacity: .1;
            transition: opacity .3s ease;
            &.active {
                opacity: 1;
            }
        }
    }
    .password {
        padding-left: 1.5em!important;
    }
    .details {
        color: rgba(0,0,0,.7);
    }
    [data-tooltip]:after {
        white-space: pre-line;
        min-width: 19em;
    }
}
