#signup {
    .sub {
        margin-top: 0.6em;
    }
    .flex-content {
        max-width: 60vw;
        @media (min-width: 1524px) {
            max-width: 50vw
        }
        @media (min-width: 934px) and (max-width: 1127px) {
            max-width: 75vw;
        }
        @media (max-width: 933px) {
            min-width: 98vw;
        }
    }
    .splash {
        background-color: $yellow;
    }
    .icon-wrap {
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        background-color: $black;
        font-size: 16pt;
        width: 2em;
        line-height: 2em;
        i {
            color: white;
            padding-left: .26em;
        }
    }
}
