// #verify {
//     input {
//         padding-left: 1.7em;
//     }
//     .warning {
//         height: 1.2em;
//         display: block;
//         font-weight: 400;
//         padding: 0;
//         margin: 0.46em;
//         line-height: 1.2em;
//         color: rgba(0,0,0,.6);
//         text-align: center;
//     }
//     .strength-meter {
//         position: absolute;
//         bottom: 1px;
//         left: 1px;
//         padding: 0.48em;
//         height: auto;
//         background-color: white;
//         border-radius: .28571429rem;
//         .dot {
//             height: 4px;
//             width: 4px;
//             margin: 1px;
//             border-radius: 50%;
//             background-color: #2185d0;
//             opacity: .1;
//             transition: opacity .3s ease;
//             &.active {
//                 opacity: 1;
//             }
//         }
//     }
// }
